
@mixin banner{
    width: 100%;
    position: relative;
    color: white;

    .banner-content{
    	position: absolute;
    	top: 3em;
    	width: 100%;
    }

    img{
    	width: 100%;
    }

    span{
    	font-size: $bennerHeading;
    	display: block;
    	text-transform: uppercase;
    	font-weight: bold;
    }

    span.title{
    	font-weight: normal;
    	margin-bottom: 2em;
    }

}

@mixin clearFix{
    &:after{
    content: "";
    display: block;
    clear: both;
    }
}